/* Dine styles her */
form {
  padding: 1rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  display: grid;
  gap: 1rem;
}

.form-felt {
  display: grid;
  gap: 2px;
}

label,
input,
textarea,
select,
button {
  display: block;
}

textarea {
  width: 557px;
  height: 229px;
}

select {
  width: 100px;
}

input {
  width: 200px;
}
